

#featured { 
	z-index:2;
	width: 100%;
	height: 400px;
	background: #000 url('../images/loading.gif') no-repeat center center;
	overflow: hidden;}
#featured>img,  
#featured>div,
#featured>a {display:none;}

div.orbit-wrapper {
    width: 1px;
    height: 1px;max-width:100%;
    position: relative; }

div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden }

div.orbit>img {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }

div.orbit>a {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0; 
    display: none; }

.orbit>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }



/* TIMER
   ================================================== */

div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001; }

span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url(../images/rotator-black.png) no-repeat;
    z-index: 3; }

span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden; }

span.rotator.move {
    left: 0 }

span.mask.move {
    width: 40px;
    left: 0;
    background: url(../images/timer-black.png) repeat 0 0; }

span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0; }

span.pause.active {
    background: url(../images/pause-black.png) no-repeat 0 -40px }

div.timer:hover span.pause,
span.pause.active {
    opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption {
    display: none;
    font-family: Segoe UI;height:80%;
    max-width:400px;right:0;
   
}

.orbit-wrapper .orbit-caption {
    
    background: rgba(0,0,0,.6);
    z-index: 0;
    color:#cccccc;
	text-align: center;
	padding: 7px 0;
    font-size: 13px;
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 100%; }


/* DIRECTIONAL NAV */

div.slider-nav {
    display: block }

div.slider-nav span {
    width: 78px;
    height: 100px;
    text-indent: -9999px;
    position: absolute;
    z-index: 995;
    top: 85%;
    margin-top: -50px;
    cursor: pointer; }

div.slider-nav span.right {
    top:50%;
    width:100px;
    height:100px;
    position:absolute;
    background: url(../images/right-arrow.png);
     left:16px;
     }

div.slider-nav span.left {
    top:50%;
    
    background: url(../images/left-arrow.png);
    position: absolute;
    right: 16px;
    width:100px; }

#sliderbox1,#sliderbox1-data{
	margin-left:18%;
	margin-top:3%;
}
#sliderbox1{
	
	height: 100px;
	width:30%;opacity :.5;
	background:#212121;
	height:53%;
	position:absolute;
	
	box-shadow: 9px 9px 6px -4px rgba(0, 0, 0, 1);	
	
}
#sliderbox1-data{
	
	border-left: 3px solid crimson;
	
	padding-top:10px;
	padding-right:10px;
	padding-left:10px;

	height: 47%;
	width:28%;
	font-family:'Dosis';
	font-size:14px;
	position:absolute;
	color:#ffffff;
	
}
#sliderbox1-btn{
	background:crimson;
	opacity: .9;
	height:20px;
	width:95px;
	padding-left:5px;
	padding-bottom:1px;
	padding-top:1px;
	position: absolute;
	right:0%;
	font-size:14px;
	
}
#sliderbox1-btn:hover{
	background:#ffffff;
	opacity: 1;
	height:20px;
	width:95px;
	padding-left:5px;
	padding-bottom:1px;
	padding-top:1px;
	position: absolute;
	right:0%;
	font-size:14px;
	cursor: pointer;
	color: crimson;
}
#sliderbox1tag{
	margin-left:22%;
margin-top: 18%;	

    background: rgba(234,173,97,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(234,173,97,1) 0%, rgba(234,173,97,1) 92%, rgba(227,142,38,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(234,173,97,1)), color-stop(92%, rgba(234,173,97,1)), color-stop(100%, rgba(227,142,38,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(234,173,97,1) 0%, rgba(234,173,97,1) 92%, rgba(227,142,38,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(234,173,97,1) 0%, rgba(234,173,97,1) 92%, rgba(227,142,38,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(234,173,97,1) 0%, rgba(234,173,97,1) 92%, rgba(227,142,38,1) 100%);
background: radial-gradient(ellipse at center, rgba(234,173,97,1) 0%, rgba(234,173,97,1) 92%, rgba(227,142,38,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaad61', endColorstr='#e38e26', GradientType=1 );
height:8%;
	width:28%;
	padding-left:8px;
	padding-bottom:1px;
	padding-top:6px;
	position: absolute;
	font-size:14px;
	cursor: pointer;
	font-family: 'Dosis';
	font-size:15px;
	box-shadow: 0px 9px 6px -4px rgba(0, 0, 0, .7);	
	border-bottom:3px solid rgba(128,45,65,1);
	color: #ffffff;
}